ENV=local
# язык
LANG=ru
# продолжительность логина при нажатой кнопке "remember me" (неделя)
REMEMBER=7
CSRF_CHECK=false
CACHE.ENABLED=true
CACHE.SERIALIZE=true

BASE_URL=

DB.ENGINE=mysql
DB.HOST=localhost
DB.PORT=3306
DB.USER=root
DB.PASSWORD=
DB.NAME=
DB.CHARSET=utf8

#DB.ENGINE=pgsql
#DB.USER=postgres
#DB.PASSWORD=postgres
