.data-grid {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  color: #4F4F4F;
  font-size: 10pt !important;
  font-family: Tahoma, Verdana, Arial, Georgia, Geneva, Helvetica, sans-serif !important;

  tr th {
    font-weight: bold;
  }

  tr {
    th.sortable-column {
      cursor: pointer;
      color: #0088CC;
    }
    &:nth-child(even) {
      background: #F7F8FA;
    }
    .odd {
      background: #FFF;
    }
  }

  th {
    background: #EBEBEB;
    color: #000;
    text-align: center !important;
  }

  td,
  th {
    border-right: 1px solid #CCC;
    padding: 2px 4px;
  }
}


/* определение классов для заголовков отсортированных столбцов */

.asc {

}

.desc {

}

td.btn-column {
  width: 12px;
}

.button-view,
.button-delete,
.button-deactivate,
.button-update,
.button-printout {
  padding: 0;
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  float: left;
}

.button-view {
  background: transparent url(../img/grid/view.png) no-repeat;
}

.button-delete {
  background: transparent url(../img/grid/delete.png) no-repeat;
}

.button-deactivate {
  background: transparent url(../img/grid/deactivate.png) no-repeat;
}

.button-update {
  background: transparent url(../img/grid/update.png) no-repeat;
}

.button-printout {
  background: transparent url(../img/grid/printout.png) no-repeat;
}

.pager {
  margin-top: 12px;
}

.control {
  float: left;
  margin-right: 8px;

  input {
    width: 66px;
  }

  select {
    max-width: 430px !important;
  }
}
